extends layout

block content
  div(class="body-accueil")
    h1= title
    p Welcome to #{title}
    a(href="experiment") Check all experiments
    <br>
    a(href="snake.html") Return to the game
  div