extends layout

block content
  a(class="create-experience" href="/experiment/new") Create an experiment
  ul
        li(class="liste_score")
          span Name
          span Score
          span Check experience
  ul
    each experiment in experiments
      li(class="liste_score")
          span(style="font-weight: bold")= experiment.username
          span= experiment.title
          a(href=`/experiment/${experiment.id}`)  Check the experiment
          audio(src=`${experiment.file}`)
    else
      li There are no experiment
        